<div class="banner text-center">
  <%= image_tag @page.snapshot_banner.variant(combine_options: { resize: banner_size, gravity: 'Center', extent: banner_size, background: "grey", quality: 95 }), width: '100%' %>
</div>
