<div class="dashboard-holder">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/side_bar" %>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="main">
            <h2> <i><img src="/assets/icon-16.png"></i> Pages Design</h2>
          </div>
          <hr>
        </div>
      </div>

      <div class='row'>
        <div class="col-md-12">
          <div class="page-de-tab-holder">
            <a href="">
            <p> <i class=""><img src="/assets/icon-1.png"></i> Home Page</p>
            <p class="pd-tab-right"><i class="fa fa-angle-right"></i></p>
            </a>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class="col-md-12">
          <div class="page-de-tab-holder">
            <a href="">
            <p> <i class=" "><img src="/assets/icon-3.png"></i> Take a snapshot and share</p>
            <p class="pd-tab-right"><i class="fa fa-angle-right"></i></p>
            </a>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class="col-md-12">
          <div class="page-de-tab-holder">
            <a href="">
            <p> <i class=""><img src="/assets/coin.png"></i> How to earn coins</p>
            <p class="pd-tab-right"><i class="fa fa-angle-right"></i></p>
            </a>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class="col-md-12">
          <div class="page-de-tab-holder">
            <a href="">
            <p> <i class=""><img src="/assets/icon-2.png"></i>  Share with friends</p>
            <p class="pd-tab-right"><i class="fa fa-angle-right"></i></p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
