<div class="col-md-9">
  <div class="lib-panel">
    <div class="box-shadow-profile ">
      <div class="flex-sb">
        <div class="flex-l">
          <div class="">
            <img src="/assets/user-profile.png">
          </div>
          <div class="p-profile">
            <h3>John peter</h3>
            <div class="flex-l">
              <div class="">
                <img src="/assets/1.png">
              </div>
              <div class="">
                <img src="/assets/2.png">
              </div>
              <div class="">
                <img src="/assets/3.png">
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <button type="button" class="btn profile-tag-btn btn-default">Start New Conversation</button>
        </div>
      </div>
    </div>
  </div>


  <div class="tabbable-panel">
    <div class="tabbable-line">
      <ul class="nav nav-tabs ">
        <li class="active">
          <a href="#tab_default_1" data-toggle="tab">
            <span class="tab-profile-hreading">Groups</span> <span class="cirle-profile">
              123
            </span>
          </a>
        </li>
        <li>
          <a href="#tab_default_2" data-toggle="tab">
            <span class="tab-profile-hreading">Blog Posts</span> <span class="cirle-profile">
              123
            </span>
          </a>
        </li>
        <li>
          <a href="#tab_default_3" data-toggle="tab">
            <span class="tab-profile-hreading">Converstaion</span> <span class="cirle-profile">
              123
            </span>
          </a>
        </li>
        <li>
          <a href="#tab_default_4" data-toggle="tab">
            <span class="tab-profile-hreading">Following</span> <span class="cirle-profile">
              123
            </span>
          </a>
        </li>
        <li>
          <a href="#tab_default_5" data-toggle="tab">
            <span class="tab-profile-hreading">Followers</span> <span class="cirle-profile">
              123
            </span>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_default_1">
            <div class="row" style="margin-top: 10px;">
                <div class="post-heading blog-redesign-style">
                  <div class="col-md-4">
                    <div class="heading-featured">
                      <h1>Groups</h1>
                    </div>
                  </div>
          
                  <div class="col-md-2 post-sorting">
                    <p>SORTING</p>
                    <select name="sort_type" id="title-sort" class="sorting-fltr"><option value="">Choose Type</option><option value="asc">A-Z</option>
          <option value="desc">Z-A</option></select>
                  </div>
          
                  <div class="col-md-2 post-sorting">
                    <p>CATEGORY</p>
                    <div class="button-group">
                      <button type="button" class="btn bbbht btn-sm dropdown-toggle" data-toggle="dropdown"><span class="" style="float: left;font-weight: 700;
                            color: #838181;">Category</span> <span style="float: right;font-size: 17px;" class="fa fa-angle-down"></span></button>
                      <ul class="dropdown-menu group-categories">
                        <li class="bbbr"><a href="#" data-value="1,2" data-type="all" tabindex="-1"><span>&nbsp;All categories</span></a></li>
                        <li><a href="#" class="small" data-value="1"><input type="checkbox" data-category-id="1">&nbsp;lorem ipsum </a></li>
                        <li><a href="#" class="small" data-value="2"><input type="checkbox" data-category-id="2">&nbsp;Dummy text </a></li>
                      </ul>
                    </div>
                  </div>
          
                  <div class="col-md-3 add_blog_btn pull-right">
                    <a class="btn btn-primary new_blog_btn" href="/groups/new">+ Add New Group</a>
                  </div>
                </div>
              </div>
          <div class="">
            
            <div class="col-md-12 col-lg-12" id="groups">
                <div class="col-md-5 col-lg-5 m-p-0 ">
  <div class="groups-cards ">
    <div class="lib-panel ">
      <div class="row box-shadow">
        <div class="">
          <a href="/groups/6">
            <img width="100%" class="lib-img-show" src="http://localhost:3000/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--4fa0c45314db3e91d0b8368e47eb90e61795ac60/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld282QzNKbGMybDZaVWtpRFRRd01IZ3lNREJlQmpvR1JWUTZER2R5WVhacGRIbEpJZ3REWlc1MFpYSUdPd2RVT2d0bGVIUmxiblJKSWcwME1EQjRNakF3WGdZN0IxUTZEMkpoWTJ0bmNtOTFibVJKSWdsbmNtVjVCanNIVkRvTWNYVmhiR2wwZVdsayIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--54db37cf7527c7e44389e6e948f6e4288dd729b6/plush-design-studio-l3N9Q27zULw-unsplash.jpg">
</a>        </div>
        <div class="">
            <div class="lib-row lib-header">
              <div class="grp-edit-delete-icon ">
                <a class="bg-groups-circle" href="/groups/6/edit">
                  <i class="fa fa-pencil inneer" aria-hidden="true"></i>
</a>                <a data-url="/groups/6" data-name="lorem ipsum" class="bg-groups-circle delete-group-link" href="javascript:void(0)">
                  <i class="fa fa-trash inneer" aria-hidden="true"></i>
</a>              </div>
            </div>
          <div class="lib-row lib-desc">
            <h2>lorem ipsum</h2>
            <span>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </span>
          </div>
          <div class="grp-card-icon">
            <i class="fa fa-users color-for-icon" width="100%"></i>
            <p>0</p>
            <i class="fa fa-comment color-for-icon" width="100%"></i>
            <p>0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
          <div class="col-md-7 col-lg-7 m-p-0 ">
            <div class="groups-cards-2">
  <div class="lib-panel">
    <div class="row box-shadow ">
      <div class="col-md-5 m-p-0">
        <a href="/groups/5">
          <img width="100%" class="lib-img-show" src="http://localhost:3000/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--1faa87e8aff0d9d8b37d32d282f12417d6f251eb/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld282QzNKbGMybDZaVWtpRFRJd01IZ3hOVEJlQmpvR1JWUTZER2R5WVhacGRIbEpJZ3REWlc1MFpYSUdPd2RVT2d0bGVIUmxiblJKSWcweU1EQjRNVFV3WGdZN0IxUTZEMkpoWTJ0bmNtOTFibVJKSWdsbmNtVjVCanNIVkRvTWNYVmhiR2wwZVdsayIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--dd00e7d4cafb15f18d6f24f3d24717ae8fae39c7/plush-design-studio-l3N9Q27zULw-unsplash.jpg">
</a>      </div>
      <div class="col-md-7">
        <div class="lib-row lib-desc">
          <div class="flex-sb">
            <h2>New Group</h2>
              <div class="lib-row lib-header">
                <div class="grp-edit-delete-icon">
                  <a class="bg-groups-circle1" href="/groups/5/edit">
                    <i class="fa fa-pencil inneer" aria-hidden="true"></i>
</a>                  <a data-url="/groups/5" data-name="New Group" class="bg-groups-circle1 delete-group-link" href="javascript:void(0)">
                    <i class="fa fa-trash inneer" aria-hidden="true"></i>
</a>                </div>
              </div>
          </div>
          <p>atest dfdsfdf</p>
          <div class="grp-card-icon">
            <i class="fa fa-users color-for-icon" width="100%" style="font-size: 22px;"></i> 
            <p>0</p>
            <i class="fa fa-comment color-for-icon" width="100%" style="font-size: 22px;"></i> 
            <p>0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



          </div>
          <div class="col-md-7 col-lg-7 m-p-0 ">
            <div class="groups-cards-2">
  <div class="lib-panel">
    <div class="row box-shadow ">
      <div class="col-md-5 m-p-0">
        <a href="/groups/4">
          <img width="100%" class="lib-img-show" src="http://localhost:3000/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--c0e0a39ef194350440f49f2156f446744bbf2514/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld282QzNKbGMybDZaVWtpRFRJd01IZ3hOVEJlQmpvR1JWUTZER2R5WVhacGRIbEpJZ3REWlc1MFpYSUdPd2RVT2d0bGVIUmxiblJKSWcweU1EQjRNVFV3WGdZN0IxUTZEMkpoWTJ0bmNtOTFibVJKSWdsbmNtVjVCanNIVkRvTWNYVmhiR2wwZVdsayIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--dd00e7d4cafb15f18d6f24f3d24717ae8fae39c7/plush-design-studio-l3N9Q27zULw-unsplash.jpg">
</a>      </div>
      <div class="col-md-7">
        <div class="lib-row lib-desc">
          <div class="flex-sb">
            <h2>loream ipsum</h2>
              <div class="lib-row lib-header">
                <div class="grp-edit-delete-icon">
                  <a class="bg-groups-circle1" href="/groups/4/edit">
                    <i class="fa fa-pencil inneer" aria-hidden="true"></i>
</a>                  <a data-url="/groups/4" data-name="loream ipsum" class="bg-groups-circle1 delete-group-link" href="javascript:void(0)">
                    <i class="fa fa-trash inneer" aria-hidden="true"></i>
</a>                </div>
              </div>
          </div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          <div class="grp-card-icon">
            <i class="fa fa-users color-for-icon" width="100%" style="font-size: 22px;"></i> 
            <p>0</p>
            <i class="fa fa-comment color-for-icon" width="100%" style="font-size: 22px;"></i> 
            <p>0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



          </div>
          <div class="col-md-7 col-lg-7 m-p-0 ">
            <div class="groups-cards-2">
  <div class="lib-panel">
    <div class="row box-shadow ">
      <div class="col-md-5 m-p-0">
        <a href="/groups/3">
          <img width="100%" class="lib-img-show" src="http://localhost:3000/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--3657d42eef5e435669a6517713182ac2327a228d/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld282QzNKbGMybDZaVWtpRFRJd01IZ3hOVEJlQmpvR1JWUTZER2R5WVhacGRIbEpJZ3REWlc1MFpYSUdPd2RVT2d0bGVIUmxiblJKSWcweU1EQjRNVFV3WGdZN0IxUTZEMkpoWTJ0bmNtOTFibVJKSWdsbmNtVjVCanNIVkRvTWNYVmhiR2wwZVdsayIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--dd00e7d4cafb15f18d6f24f3d24717ae8fae39c7/plush-design-studio-l3N9Q27zULw-unsplash.jpg">
</a>      </div>
      <div class="col-md-7">
        <div class="lib-row lib-desc">
          <div class="flex-sb">
            <h2>loream ipsum</h2>
              <div class="lib-row lib-header">
                <div class="grp-edit-delete-icon">
                  <a class="bg-groups-circle1" href="/groups/3/edit">
                    <i class="fa fa-pencil inneer" aria-hidden="true"></i>
</a>                  <a data-url="/groups/3" data-name="loream ipsum" class="bg-groups-circle1 delete-group-link" href="javascript:void(0)">
                    <i class="fa fa-trash inneer" aria-hidden="true"></i>
</a>                </div>
              </div>
          </div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          <div class="grp-card-icon">
            <i class="fa fa-users color-for-icon" width="100%" style="font-size: 22px;"></i> 
            <p>0</p>
            <i class="fa fa-comment color-for-icon" width="100%" style="font-size: 22px;"></i> 
            <p>0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



            <div class="groups-cards-2">
  <div class="lib-panel">
    <div class="row box-shadow ">
      <div class="col-md-5 m-p-0">
        <a href="/groups/2">
          <img width="100%" class="lib-img-show" src="http://localhost:3000/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b10844aadc2ca7dc1b95ebf87bf6a3ba38a3e349/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld282QzNKbGMybDZaVWtpRFRJd01IZ3hOVEJlQmpvR1JWUTZER2R5WVhacGRIbEpJZ3REWlc1MFpYSUdPd2RVT2d0bGVIUmxiblJKSWcweU1EQjRNVFV3WGdZN0IxUTZEMkpoWTJ0bmNtOTFibVJKSWdsbmNtVjVCanNIVkRvTWNYVmhiR2wwZVdsayIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--dd00e7d4cafb15f18d6f24f3d24717ae8fae39c7/plush-design-studio-l3N9Q27zULw-unsplash.jpg">
</a>      </div>
      <div class="col-md-7">
        <div class="lib-row lib-desc">
          <div class="flex-sb">
            <h2>ipsum</h2>
              <div class="lib-row lib-header">
                <div class="grp-edit-delete-icon">
                  <a class="bg-groups-circle1" href="/groups/2/edit">
                    <i class="fa fa-pencil inneer" aria-hidden="true"></i>
</a>                  <a data-url="/groups/2" data-name="ipsum" class="bg-groups-circle1 delete-group-link" href="javascript:void(0)">
                    <i class="fa fa-trash inneer" aria-hidden="true"></i>
</a>                </div>
              </div>
          </div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          <div class="grp-card-icon">
            <i class="fa fa-users color-for-icon" width="100%" style="font-size: 22px;"></i> 
            <p>0</p>
            <i class="fa fa-comment color-for-icon" width="100%" style="font-size: 22px;"></i> 
            <p>0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



          </div>
          <div class="col-md-5 col-lg-5 m-p-0 ">
  <div class="groups-cards width-100pr">
    <div class="lib-panel left-10pr">
      <div class="row box-shadow">
        <div class="">
          <a href="/groups/1">
            <img width="100%" class="lib-img-show" src="http://localhost:3000/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--1790c95b5824fb6e9aad14001a1a8e426dca51e5/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld282QzNKbGMybDZaVWtpRFRRd01IZ3lNREJlQmpvR1JWUTZER2R5WVhacGRIbEpJZ3REWlc1MFpYSUdPd2RVT2d0bGVIUmxiblJKSWcwME1EQjRNakF3WGdZN0IxUTZEMkpoWTJ0bmNtOTFibVJKSWdsbmNtVjVCanNIVkRvTWNYVmhiR2wwZVdsayIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--54db37cf7527c7e44389e6e948f6e4288dd729b6/plush-design-studio-l3N9Q27zULw-unsplash.jpg">
</a>        </div>
        <div class="">
            <div class="lib-row lib-header">
              <div class="grp-edit-delete-icon right-icon-16px">
                <a class="bg-groups-circle" href="/groups/1/edit">
                  <i class="fa fa-pencil inneer" aria-hidden="true"></i>
</a>                <a data-url="/groups/1" data-name="ipsum" class="bg-groups-circle delete-group-link" href="javascript:void(0)">
                  <i class="fa fa-trash inneer" aria-hidden="true"></i>
</a>              </div>
            </div>
          <div class="lib-row lib-desc">
            <h2>ipsum</h2>
            <span>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </span>
          </div>
          <div class="grp-card-icon">
            <i class="fa fa-users color-for-icon" width="100%"></i>
            <p>0</p>
            <i class="fa fa-comment color-for-icon" width="100%"></i>
            <p>0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    </div>
            <ul class="pagination">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">Next></a></li>
              <li><a href="#">Last>></a></li>
            </ul>
          </div>
          <div class="">
            <div class="heading-featured">
              <h1>Following Groups</h1>
            </div>
            <p>
              Duis autem eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim
              veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel
              eum
              iriure dolor in hendrerit in vulputate velit esse molestie consequat.
            </p>

            <ul class="pagination">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">Next></a></li>
              <li><a href="#">Last>></a></li>
            </ul>
          </div>
        </div>
        <div class="tab-pane" id="tab_default_2">
          <div class="">
            <div class="heading-featured">
              <h1>Your Blogs</h1>
            </div>
            <p>
              Duis autem eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim
              veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel
              eum
              iriure dolor in hendrerit in vulputate velit esse molestie consequat.
            </p>
            <ul class="pagination">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">Next></a></li>
              <li><a href="#">Last>></a></li>
            </ul>
          </div>
          <div class="">
            <div class="heading-featured">
              <h1>Liked Blogs</h1>
            </div>
            <p>
              Duis autem eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim
              veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel
              eum
              iriure dolor in hendrerit in vulputate velit esse molestie consequat.
            </p>

            <ul class="pagination">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">.</a></li>
              <li><a href="#">Next></a></li>
              <li><a href="#">Last>></a></li>
            </ul>
          </div>
        </div>
        <div class="tab-pane" id="tab_default_3">

          <div class="row" style="margin-top: 10px;">
            <div class="post-heading blog-redesign-style">
              <div class="col-md-4">
                <div class="heading-featured">
                  <h1>Groups</h1>
                </div>
              </div>


              <div class="col-md-2 ">

              </div>
              <div class="col-md-2 post-sorting m-0">
                <p>SORTING</p>
                <select name="sort_type" id="title-sort" class="sorting-fltr">
                  <option value="">Choose Type</option>
                  <option value="asc">A-Z</option>
                  <option value="desc">Z-A</option>
                </select>
              </div>


              <div class="col-md-4 add_blog_btn pull-right">
                <a class="btn btn-primary new_blog_btn" href="/groups/new">+ Start New Conversation </a>
              </div>
            </div>
          </div>
          <div class="middle-row-grp">
            <div class="col-md-12">
              <div class="lib-panel">
                <div class="row box-shadow-conversation-profile-admin">
                  <div class="flex-sb">
                    <div class="flex-l">
                      <div class="">
                        <div class="flex-l">
                          <div class="">
                            <img class="" src="/assets/user-icon.png" width="100%">
                          </div>
                          <div class="m-l-10">
                            <p class="p-l">Admin</p>
                            <p class="p-b">Saint L beau</p>
                          </div>
                        </div>
                      </div>
                      <div class="m-l-10 mob-m-l-0">
                        <div class="flex-l">
                          <div class="">
                            <img class="" src="/assets/calender.png" width="100%">
                          </div>
                          <div class="m-l-10">
                            <p class="p-b m-t-8">Posted: 12.01.19</p>
                          </div>
                        </div>
                      </div>
                      <div class="m-l-10 mob-m-l-0">
                        <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                      </div>
                    </div>

                    <div class="grp-edit-delete-icon ">
                      <a class="" href="#">
                        <i class="fa fa-pencil inneer font-awesome-edit-profile" aria-hidden="true"></i>
                      </a> <a data-url="" data-name="lorem ipsum" class=" delete-group-link" href="#">
                        <i class="fa fa-trash inneer 
                      font-awesome-edit-profile" aria-hidden="true"></i>
                      </a> </div>
                  </div>
                  <div class="join-grp-dscptn">
                    <h2>Everything Eyes</h2>
                    <%# <p class="hhkt" > Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tota rem aperiam, eaque ipsa  explicabo. Nemo enim ipsam voluptatem quia voluptas rem aperiam, </p> %>
                    <div class="comment more">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vestibulum laoreet, nunc eget laoreet sagittis,
                      quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                      Duis eget nisl orci. Aliquam mattis purus non mauris
                      blandit id luctus felis convallis.
                      Integer varius egestas vestibulum.
                      Nullam a dolor arcu, ac tempor elit. Donec.
                    </div>
                    <!-- after border  -->
                    <div class="jn-grp-img-show">
                      <img src="/assets/blog-img-2.jpg">
                    </div>
                  </div>
                  <div class="flex-l pt-10">
                    <div class="">
                      <img class="" src="/assets/user-icon.png" width="100%">
                    </div>
                    <div class="m-l-10 ">
                      <p class="p-b m-p-0 text-left">Saint L beau</p>
                      <p class="p-l">Today at 11:30 am</p>
                    </div>
                    <div class="comment more text-left pl-40">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vestibulum laoreet, nunc eget laoreet sagittis,
                      quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                      <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                          Aliquam mattis purus non mauris
                          blandit id luctus felis convallis.
                          Integer varius egestas vestibulum.
                          Nullam a dolor arcu, ac tempor elit. Donec.
                        </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></div>
                  </div>



                  <div class="flex-sb">
                    <div class="flex-l  m-t-8">
                      <div class="">
                        <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                      </div>
                      <div class="m-l-10 m-t-12">
                        <p class="fs-12">0</p>
                      </div>
                      <div class="m-l-10">
                        <i class="fa fa-heart fs-20" style="color: red;"></i>
                      </div>
                      <div class="m-l-10 m-t-8">
                        <p class="fs-12 m-t-3">0</p>
                      </div>
                    </div>
                    <div class="m-t-8">
                      <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- new comment -->
          <div class="col-md-12">
            <div class="lib-panel">
              <div class="row box-shadow-conversation-profile-admin">
                <div class="flex-sb">
                  <div class="flex-l">
                    <div class="">
                      <div class="flex-l">
                        <div class="">
                          <img class="" src="/assets/user-icon.png" width="100%">
                        </div>
                        <div class="m-l-10">
                          <p class="p-l">Admin</p>
                          <p class="p-b">Saint L beau</p>
                        </div>
                      </div>
                    </div>
                    <div class="m-l-10 mob-m-l-0">
                      <div class="flex-l">
                        <div class="">
                          <img class="" src="/assets/calender.png" width="100%">
                        </div>
                        <div class="m-l-10">
                          <p class="p-b m-t-8">Posted: 12.01.19</p>
                        </div>
                      </div>
                    </div>
                    <div class="m-l-10 mob-m-l-0">
                      <a class="btn btn-primary new_reply_btn-profile" href="/blogs/new">New Reply </a>
                    </div>
                  </div>
                  <div class="grp-edit-delete-icon ">
                    <a class="" href="#">
                      <i class="fa fa-pencil inneer font-awesome-edit-profile" aria-hidden="true"></i>
                    </a> <a data-url="" data-name="lorem ipsum" class=" delete-group-link" href="#">
                      <i class="fa fa-trash inneer 
                      font-awesome-edit-profile" aria-hidden="true"></i>
                    </a> </div>
                </div>
                <div class="join-grp-dscptn">
                  <h2>Everything Eyes</h2>
                  <div class="comment more">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum laoreet, nunc eget laoreet sagittis,
                    quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                    <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                        Aliquam mattis purus non mauris
                        blandit id luctus felis convallis.
                        Integer varius egestas vestibulum.
                        Nullam a dolor arcu, ac tempor elit. Donec.
                      </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></div>
                  <!-- after border  -->

                </div>
                <div class="flex-l pt-10">
                  <div class="">
                    <img class="" src="/assets/user-icon.png" width="100%">
                  </div>
                  <div class="m-l-10 ">
                    <p class="p-b m-p-0 text-left">Saint L beau</p>
                    <p class="p-l">Today at 11:30 am</p>
                  </div>
                  <div class="comment more text-left pl-40">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum laoreet, nunc eget laoreet sagittis,
                    quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                    <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                          class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                            Aliquam mattis purus non mauris
                            blandit id luctus felis convallis.
                            Integer varius egestas vestibulum.
                            Nullam a dolor arcu, ac tempor elit. Donec.
                          </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a
                        href="" class="morelink">Show more</a></span></div>
                </div>
                <div class="flex-sb">
                  <div class="flex-l  m-t-8">
                    <div class="">
                      <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                    </div>
                    <div class="m-l-10 m-t-12">
                      <p class="fs-12">0</p>
                    </div>
                    <div class="m-l-10">
                      <i class="fa fa-heart fs-20" style="color: red;"></i>
                    </div>
                    <div class="m-l-10 m-t-8">
                      <p class="fs-12 m-t-3">0</p>
                    </div>
                  </div>
                  <div class="m-t-8">
                    <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- last section comment -->
          <div class="col-md-12">
            <div class="lib-panel">
              <div class="row box-shadow-conversation-profile-admin">
                <div class="flex-sb">
                  <div class="flex-l">
                    <div class="">
                      <div class="flex-l">
                        <div class="">
                          <img class="" src="/assets/user-icon.png" width="100%">
                        </div>
                        <div class="m-l-10">
                          <p class="p-l">Admin</p>
                          <p class="p-b">Saint L beau</p>
                        </div>
                      </div>
                    </div>
                    <div class="m-l-10 mob-m-l-0">
                      <div class="flex-l">
                        <div class="">
                          <img class="" src="/assets/calender.png" width="100%">
                        </div>
                        <div class="m-l-10">
                          <p class="p-b m-t-8">Posted: 12.01.19</p>
                        </div>
                      </div>
                    </div>
                    <div class="m-l-10 mob-m-l-0">
                      <a class="btn btn-primary new_reply_btn-profile" href="/blogs/new">New Reply </a>
                    </div>
                  </div>
                  <div class="grp-edit-delete-icon ">
                    <a class="" href="#">
                      <i class="fa fa-pencil inneer font-awesome-edit-profile" aria-hidden="true"></i>
                    </a> <a data-url="" data-name="lorem ipsum" class=" delete-group-link" href="#">
                      <i class="fa fa-trash inneer 
                      font-awesome-edit-profile" aria-hidden="true"></i>
                    </a> </div>
                </div>
                <div class="join-grp-dscptn">
                  <h2>Everything Eyes</h2>
                  <div class="comment more">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum laoreet, nunc eget laoreet sagittis,
                    quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                    <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                          class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                            Aliquam mattis purus non mauris
                            blandit id luctus felis convallis.
                            Integer varius egestas vestibulum.
                            Nullam a dolor arcu, ac tempor elit. Donec.
                          </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a
                        href="" class="morelink">Show more</a></span></div>
                  <!-- after border  -->

                </div>
                <div class="flex-l pt-10 pb-10 bbbb">
                  <div class="">
                    <img class="" src="/assets/user-icon.png" width="100%">
                  </div>
                  <div class="m-l-10 ">
                    <p class="p-b m-p-0 text-left">Saint L beau</p>
                    <p class="p-l">Today at 11:30 am</p>
                  </div>
                  <div class="comment more text-left pl-40">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum laoreet, nunc eget laoreet sagittis,
                    quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                    <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                          class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                              class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                                Aliquam mattis purus non mauris
                                blandit id luctus felis convallis.
                                Integer varius egestas vestibulum.
                                Nullam a dolor arcu, ac tempor elit. Donec.
                              </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a
                            href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a href=""
                        class="morelink">Show more</a></span></div>
                  <div class="grp-img-show-profile pl-40 ">
                    <img src="/assets/blog-img-2.jpg">
                  </div>
                </div>
                <div class="flex-sb">
                  <div class="flex-l  m-t-8">
                    <div class="">
                      <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                    </div>
                    <div class="m-l-10 m-t-12">
                      <p class="fs-12">0</p>
                    </div>
                    <div class="m-l-10">
                      <i class="fa fa-heart fs-20" style="color: red;"></i>
                    </div>
                    <div class="m-l-10 m-t-8">
                      <p class="fs-12 m-t-3">0</p>
                    </div>
                  </div>
                  <div class="m-t-8">
                    <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ul class="pagination">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">.</a></li>
            <li><a href="#">.</a></li>
            <li><a href="#">.</a></li>
            <li><a href="#">Next></a></li>
            <li><a href="#">Last>></a></li>
          </ul>

          <!-- liked conversation start -->


          <div class="row" style="margin-top: 10px;">
            <div class="post-heading blog-redesign-style">
              <div class="col-md-4">
                <div class="heading-featured">
                  <h1>Liked Conversation</h1>
                </div>
              </div>


              <div class="col-md-6 ">

              </div>
              <div class="col-md-2 post-sorting m-0">
                <p>SORTING</p>
                <select name="sort_type" id="title-sort" class="sorting-fltr">
                  <option value="">Choose Type</option>
                  <option value="asc">A-Z</option>
                  <option value="desc">Z-A</option>
                </select>
              </div>


            </div>
          </div>
          <div class="middle-row-grp">
            <div class="col-md-12">
              <div class="lib-panel">
                <div class="row box-shadow-conversation-profile-admin">
                  <div class="flex-sb">
                    <div class="flex-l">
                      <div class="">
                        <div class="flex-l">
                          <div class="">
                            <img class="" src="/assets/user-icon.png" width="100%">
                          </div>
                          <div class="m-l-10">
                            <p class="p-l">Admin</p>
                            <p class="p-b">Saint L beau</p>
                          </div>
                        </div>
                      </div>
                      <div class="m-l-10 mob-m-l-0">
                        <div class="flex-l">
                          <div class="">
                            <img class="" src="/assets/calender.png" width="100%">
                          </div>
                          <div class="m-l-10">
                            <p class="p-b m-t-8">Posted: 12.01.19</p>
                          </div>
                        </div>
                      </div>
                      <div class="m-l-10 m-l-10">
                        <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                      </div>
                    </div>

                    <div class="grp-edit-delete-icon ">
                      <a class="" href="#">
                        <i class="fa fa-pencil inneer font-awesome-edit-profile" aria-hidden="true"></i>
                      </a> <a data-url="" data-name="lorem ipsum" class=" delete-group-link" href="#">
                        <i class="fa fa-trash inneer 
                        font-awesome-edit-profile" aria-hidden="true"></i>
                      </a> </div>
                  </div>
                  <div class="join-grp-dscptn">
                    <h2>Everything Eyes</h2>
                    <%# <p class="hhkt" > Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tota rem aperiam, eaque ipsa  explicabo. Nemo enim ipsam voluptatem quia voluptas rem aperiam, </p> %>
                    <div class="comment more">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vestibulum laoreet, nunc eget laoreet sagittis,
                      quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                      Duis eget nisl orci. Aliquam mattis purus non mauris
                      blandit id luctus felis convallis.
                      Integer varius egestas vestibulum.
                      Nullam a dolor arcu, ac tempor elit. Donec.
                    </div>
                    <!-- after border  -->
                    <div class="jn-grp-img-show">
                      <img src="/assets/blog-img-2.jpg">
                    </div>
                  </div>
                  <div class="flex-l pt-10">
                    <div class="">
                      <img class="" src="/assets/user-icon.png" width="100%">
                    </div>
                    <div class="m-l-10 ">
                      <p class="p-b m-p-0 text-left">Saint L beau</p>
                      <p class="p-l">Today at 11:30 am</p>
                    </div>
                    <div class="comment more text-left pl-40">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vestibulum laoreet, nunc eget laoreet sagittis,
                      quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                      <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                          Aliquam mattis purus non mauris
                          blandit id luctus felis convallis.
                          Integer varius egestas vestibulum.
                          Nullam a dolor arcu, ac tempor elit. Donec.
                        </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></div>
                  </div>



                  <div class="flex-sb">
                    <div class="flex-l  m-t-8">
                      <div class="">
                        <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                      </div>
                      <div class="m-l-10 m-t-12">
                        <p class="fs-12">0</p>
                      </div>
                      <div class="m-l-10">
                        <i class="fa fa-heart fs-20" style="color: red;"></i>
                      </div>
                      <div class="m-l-10 m-t-8">
                        <p class="fs-12 m-t-3">0</p>
                      </div>
                    </div>
                    <div class="m-t-8">
                      <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- new comment -->
          <div class="col-md-12">
            <div class="lib-panel">
              <div class="row box-shadow-conversation-profile-admin">
                <div class="flex-sb">
                  <div class="flex-l">
                    <div class="">
                      <div class="flex-l">
                        <div class="">
                          <img class="" src="/assets/user-icon.png" width="100%">
                        </div>
                        <div class="m-l-10">
                          <p class="p-l">Admin</p>
                          <p class="p-b">Saint L beau</p>
                        </div>
                      </div>
                    </div>
                    <div class="m-l-10 mob-m-l-0">
                      <div class="flex-l">
                        <div class="">
                          <img class="" src="/assets/calender.png" width="100%">
                        </div>
                        <div class="m-l-10">
                          <p class="p-b m-t-8">Posted: 12.01.19</p>
                        </div>
                      </div>
                    </div>
                    <div class="m-l-10 mob-m-l-0">
                      <a class="btn btn-primary new_reply_btn-profile" href="/blogs/new">New Reply </a>
                    </div>
                  </div>
                  <div class="grp-edit-delete-icon ">
                    <a class="" href="#">
                      <i class="fa fa-pencil inneer font-awesome-edit-profile" aria-hidden="true"></i>
                    </a> <a data-url="" data-name="lorem ipsum" class=" delete-group-link" href="#">
                      <i class="fa fa-trash inneer 
                        font-awesome-edit-profile" aria-hidden="true"></i>
                    </a> </div>
                </div>
                <div class="join-grp-dscptn">
                  <h2>Everything Eyes</h2>
                  <div class="comment more">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum laoreet, nunc eget laoreet sagittis,
                    quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                    <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                        Aliquam mattis purus non mauris
                        blandit id luctus felis convallis.
                        Integer varius egestas vestibulum.
                        Nullam a dolor arcu, ac tempor elit. Donec.
                      </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></div>
                  <!-- after border  -->

                </div>
                <div class="flex-l pt-10">
                  <div class="">
                    <img class="" src="/assets/user-icon.png" width="100%">
                  </div>
                  <div class="m-l-10 ">
                    <p class="p-b m-p-0 text-left">Saint L beau</p>
                    <p class="p-l">Today at 11:30 am</p>
                  </div>
                  <div class="comment more text-left pl-40">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum laoreet, nunc eget laoreet sagittis,
                    quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                    <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                          class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                            Aliquam mattis purus non mauris
                            blandit id luctus felis convallis.
                            Integer varius egestas vestibulum.
                            Nullam a dolor arcu, ac tempor elit. Donec.
                          </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a
                        href="" class="morelink">Show more</a></span></div>
                </div>
                <div class="flex-sb">
                  <div class="flex-l  m-t-8">
                    <div class="">
                      <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                    </div>
                    <div class="m-l-10 m-t-12">
                      <p class="fs-12">0</p>
                    </div>
                    <div class="m-l-10">
                      <i class="fa fa-heart fs-20" style="color: red;"></i>
                    </div>
                    <div class="m-l-10 m-t-8">
                      <p class="fs-12 m-t-3">0</p>
                    </div>
                  </div>
                  <div class="m-t-8">
                    <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- last section comment -->
          <div class="col-md-12">
            <div class="lib-panel">
              <div class="row box-shadow-conversation-profile-admin">
                <div class="flex-sb">
                  <div class="flex-l">
                    <div class="">
                      <div class="flex-l">
                        <div class="">
                          <img class="" src="/assets/user-icon.png" width="100%">
                        </div>
                        <div class="m-l-10">
                          <p class="p-l">Admin</p>
                          <p class="p-b">Saint L beau</p>
                        </div>
                      </div>
                    </div>
                    <div class="m-l-10 mob-m-l-0">
                      <div class="flex-l">
                        <div class="">
                          <img class="" src="/assets/calender.png" width="100%">
                        </div>
                        <div class="m-l-10">
                          <p class="p-b m-t-8">Posted: 12.01.19</p>
                        </div>
                      </div>
                    </div>
                    <div class="m-l-10 mob-m-l-0">
                      <a class="btn btn-primary new_reply_btn-profile" href="/blogs/new">New Reply </a>
                    </div>
                  </div>
                  <div class="grp-edit-delete-icon ">
                    <a class="" href="#">
                      <i class="fa fa-pencil inneer font-awesome-edit-profile" aria-hidden="true"></i>
                    </a> <a data-url="" data-name="lorem ipsum" class=" delete-group-link" href="#">
                      <i class="fa fa-trash inneer 
                        font-awesome-edit-profile" aria-hidden="true"></i>
                    </a> </div>
                </div>
                <div class="join-grp-dscptn">
                  <h2>Everything Eyes</h2>
                  <div class="comment more">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum laoreet, nunc eget laoreet sagittis,
                    quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                    <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                          class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                            Aliquam mattis purus non mauris
                            blandit id luctus felis convallis.
                            Integer varius egestas vestibulum.
                            Nullam a dolor arcu, ac tempor elit. Donec.
                          </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a
                        href="" class="morelink">Show more</a></span></div>
                  <!-- after border  -->

                </div>
                <div class="flex-l pt-10 pb-10 bbbb">
                  <div class="">
                    <img class="" src="/assets/user-icon.png" width="100%">
                  </div>
                  <div class="m-l-10 ">
                    <p class="p-b m-p-0 text-left">Saint L beau</p>
                    <p class="p-l">Today at 11:30 am</p>
                  </div>
                  <div class="comment more text-left pl-40">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum laoreet, nunc eget laoreet sagittis,
                    quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                    <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                          class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                              class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                                Aliquam mattis purus non mauris
                                blandit id luctus felis convallis.
                                Integer varius egestas vestibulum.
                                Nullam a dolor arcu, ac tempor elit. Donec.
                              </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a
                            href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a href=""
                        class="morelink">Show more</a></span></div>
                  <div class="grp-img-show-profile pl-40 ">
                    <img src="/assets/blog-img-2.jpg">
                  </div>
                </div>
                <div class="flex-sb">
                  <div class="flex-l  m-t-8">
                    <div class="">
                      <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                    </div>
                    <div class="m-l-10 m-t-12">
                      <p class="fs-12">0</p>
                    </div>
                    <div class="m-l-10">
                      <i class="fa fa-heart fs-20" style="color: red;"></i>
                    </div>
                    <div class="m-l-10 m-t-8">
                      <p class="fs-12 m-t-3">0</p>
                    </div>
                  </div>
                  <div class="m-t-8">
                    <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ul class="pagination">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">.</a></li>
            <li><a href="#">.</a></li>
            <li><a href="#">.</a></li>
            <li><a href="#">Next></a></li>
            <li><a href="#">Last>></a></li>
          </ul>

        </div>
        <!-- 4th tab start -->
        <div class="tab-pane" id="tab_default_4">
          <p>
            Howdy, I'm in Tab 4.
          </p>
          <p>
            Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci
            tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
            dolor in hendrerit in vulputate velit esse molestie consequat
          </p>
          <p>
            <a class="btn btn-info" href="http://j.mp/metronictheme" target="_blank">
              Learn more...
            </a>
          </p>
        </div>

        <div class="tab-pane" id="tab_default_5">
          <p>
            Howdy, I'm in Tab 5.
          </p>
          <p>
            Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci
            tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
            dolor in hendrerit in vulputate velit esse molestie consequat
          </p>
          <p>
            <a class="btn btn-info" href="http://j.mp/metronictheme" target="_blank">
              Learn more...
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>


</div>


<script>
  $(document).ready(function () {
    // Configure/customize these variables.
    var showChar = 250;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Show more";
    var lesstext = "Show less";


    $('.more').each(function () {
      var content = $(this).html();

      if (content.length > showChar) {

        var c = content.substr(0, showChar);
        var h = content.substr(showChar, content.length - showChar);

        var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

        $(this).html(html);
      }

    });

    $(".morelink").click(function () {
      if ($(this).hasClass("less")) {
        $(this).removeClass("less");
        $(this).html(moretext);
      } else {
        $(this).addClass("less");
        $(this).html(lesstext);
      }
      $(this).parent().prev().toggle();
      $(this).prev().toggle();
      return false;
    });
  });
</script>