<div class="dashboard-holder">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/side_bar" %>
    </div>
    <div class="col-md-9">

      <div class="row">
        <div class="col-md-12">
          <div class="main">
            <h2> <i class="fa fa-share-alt fa-lg fa-fw sidebar-icon"></i>Take a snapshot and Share</h2>
          </div>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p>Congratulations! you have received 100 coins</p>
          <div class="box-shadow md-pd">
            <div class="row">
              <div class="col-md-3">
                <div class="bg-warning bg-circle">
                    <p class="text-center">+ 100 </p>
                </div>
              </div>
                <div class="col-md-9 pd-t-30 text-left">
                  <p>You always can earn coins other ways on your web site please read our guideline described all rules.</p>
                  <a href="">How can I spend and earn?</a>
                </div>

            </div>






          </div>
          <button class="btn btn-block btn-default btn-lg">Go to Catalog</button>
        </div>
      </div>


    </div>
  </div>
</div>

