<div class="dashboard-holder">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/side_bar" %>
    </div>
    <div class="col-md-9 m-b-50">

      <div class="row">
        <div class="col-md-12">
          <div class="main">
            <h2> <i class="fa fa-share-alt fa-lg fa-fw sidebar-icon"></i>Take a snapshot and Share </h2>
          </div>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <div class="box-shadow m-h-400 sm-pd">

            <div class="box-1">
              <div class="row">
                <div class="col-md-12">
                  <img width="100%" src="/assets/katerina-radvanska-397105-unsplash.jpg">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="image-content-snap">
                  <p>Make selfie photo or video with product bought on our mobile</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="box-shadow  m-h-400 sm-pd">

            <div class="box-1">
              <div class="row">
                <div class="col-md-12">
                  <img width="100%" src="/assets/katerina-radvanska-397105-unsplash.jpg">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="image-content-snap">
                    <p>Upload to facebook , twitter or intrsagram and copy link to your post <strong>Don't forget to add a hastag #saintL'beau</strong></p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <div class="box-shadow m-h-400 sm-pd">

            <div class="box-1">
              <div class="row">
                <div class="col-md-12">
                  <img width="100%" src="/assets/katerina-radvanska-397105-unsplash.jpg">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="image-content-snap">
                    <p>Insert copied link to the special field on the web site </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="box-shadow  m-h-400 sm-pd">

            <div class="box-1">
              <div class="row">
                <div class="col-md-12">
                  <img width="100%" src="/assets/katerina-radvanska-397105-unsplash.jpg">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="image-content-snap">
                    <p>Confirm and receive coins! 100 for selfie and 200 coins for video</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>



      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <a href="/step_one" class="btn btn-default btn-lg">Get Started</a>
        </div>
      </div>

    </div>
  </div>
</div>

