<div class="row">
  <% @blogs.each_with_index do |blog, index| %>
    <% if index == 3 || index == 9 %>
      <%= render partial: 'expanded_blog', locals: { blog: blog } %>
    <% else %>
      <%= render partial: 'brief_description', locals: { blog: blog } %>
    <% end %>
  <% end %>
</div>
