  <% @blogs.each_with_index do |blog, index| %>
    <% puts "Blog......", blog.inspect %>
    <% if index == 3 || index == 9 %>
      <div class="col-md-8">
        <%= render partial: 'expanded_blog', locals: { blog: blog } %>
      </div>
    <% else %>
      <div class="col-md-4">
        <%= render partial: 'brief_description', locals: { blog: blog } %>
      </div>
    <% end %>
  <% end %>

