<div class="col-md-4 col-xs-4">
  <span  class=""><i class="fa fa-heart"></i> <%= blog.likes.length %></span>
</div>
<div class="col-md-4 col-xs-4">
  <span class=""><i class="fa fa-share"></i> <%= blog.share_urls.length %></span>
</div>
<div class="col-md-4 col-xs-4">
  <span class=""><i class="fa fa-eye"></i> <%= blog.blog_views.length %></span>
</div>
<script>
  $(document).ready(function () {
    user_has_shared = <%= signed_in? ? current_user.already_shared_blog?(blog.id, 'facebook') : false %>;
  })
</script>
