<div class="blog_starter">
		<div class="box">
			<div class="row">
					<div class="col-md-4">
		              <div class="step_icon"><span> 1</span> </div>
		           		 <h3 class="text-center">Create your first blog post.</h3>
		           		 <p>Assign your product to promote it.</p>
					</div>
					<div class="col-md-4">
		              <div class="step_icon"><span> 2</span> </div>
		           		 <h3 class="text-center">Publish blog post on Saint Lbeau</h3>
		           		 <p>Published blog post to start promotion.</p>
					</div>
					<div class="col-md-4">
		              <div class="step_icon"><span> 3</span> </div>
		           		 <h3 class="text-center">Your product is promoted!</h3>
		           		 <p>Published blog post with your product  will be viewed by all of our member</p>
					</div>
					<div class="blog_starter_btn">
						<a href="#" class="btn btn-primary new_blog_btn"> + ADD BLOG POST </a>
					</div>
				</div>
			</div>
		</div>
	
