<div class="col-md-9">
  <p id="notice"><%= notice %></p>

  <h1 class="card-header">Editing Reward</h1>

  <%= render 'form', point_type: @point_type %>
  <br/>
  <%= link_to 'Show', @point_type, class: 'btn btn-default' %> |
  <%= link_to 'Back', point_types_path, class: 'btn btn-default' %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.update-text').val('Update');
  });

</script>

