<div class="col-md-9">
  <div class="ambassdor-box newBlog-style conversation-c">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="flex-sb">
            <h3><a href="/blogs" class="con-c"><i class="fa fa-angle-left"></i></a><span class="p-l-20">Create new Conversation
              </span></h2>
              <a class="btn blog_library btn-primary con_banner_btn submit-conversatioin-form">Publish</a>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <%= render 'form', conversation: @conversation %>
</div>
