<div class="post-sorting m-0">
  <p>SORTING</p>
  <select name="sort_type" class="sorting-fltr conversation-title-sort" data-type="<%= type %>" data-url="<%= user_conversations_path(user, type: type) %>">
    <option value="">Choose Type</option>
    <option value="asc">A-Z</option>
    <option value="desc">Z-A</option>
  </select>
</div>
