<div class="col-md-5 col-lg-5 m-p-0 ">
  <div class="groups-cards">
    <div class="lib-panel">
      <div class="row box-shadow">
        <div class="">
          <img class="lib-img-show" src="/assets/blog-img-2.jpg">
        </div>
        <div class="">
          <div class="lib-row lib-header">
            <div class="grp-edit-delete-icon">
              <a href="" class="bg-groups-circle" ><i class="fa fa-pencil inneer" aria-hidden="true"></i></a>
              <a data-toggle="modal" href="#myModal" class="bg-groups-circle"><i class="fa fa-trash inneer" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="lib-row lib-desc">
            <h2><%= group.name %></h2>
            <p><%= group.description %></p>
          </div>
          <div class="grp-card-icon">
            <i class="fa fa-users color-for-icon" width="100%"></i> 
            <p>0</p>
            <i class="fa fa-comment color-for-icon" width="100%"></i> 
            <p>0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
