<!-- <link rel='stylesheet prefetch' href='https://foliotek.github.io/Croppie/croppie.css'> -->
<script src='https://foliotek.github.io/Croppie/croppie.js'></script>



<div class="group-create-custom">
   <div class="grp-header">
      <div class="group-back-btn">
         <img src="/assets/back-arrow-btn.png">
      </div>
      <div class="group-page-heading">
         <h1>Create New Group</h1>
      </div>
      <div class="group-create-btn">
         <button type="button" class="btn">CREATE</button>
      </div>
   </div>
   <hr>
   <div class="col-md-9">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12 lib-item">
               <div class="lib-panel">
                  <div class="row box-shadow">
                     <div class="col-md-4">
                        <div class="group-icon">
                           <div class="img-caption">
<!--                               <img class="lib-img-show" src="/assets/group-img-icon.png">
                              <p>Upload preview image</p> -->

                        <label class="cabinet center-block">
                              <figure>
                                 <img src="" class="gambar img-responsive img-thumbnail" id="item-img-output" width="100%" />
                                <figcaption> <p>Upload preview image</p></figcaption>
                            </figure>
                              <input type="file" class="item-img file center-block" name="file_photo"/>
                           </label>

                           </div>
                        </div>
                     </div>
                     <div class="col-md-8">
                        <div class="lib-row lib-header">
                           <form class="form-horizontal">
                              <div class="form-group">
                                 <div class="col-md-12">
                                    <div class="group-dropDown">
                                       <select>
                                          <option value="" selected>SELECT CATEGORY</option>
                                          <option value="">testing 2</option>
                                          <option value="">testing 3</option>
                                          <option value="">testing 4</option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="col-md-12">
                                    <input type="type" class="form-control" id="" placeholder="Title">
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="col-md-12">
                                    <input type="type" class="form-control" row="5" id="" placeholder="Write Preview">
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


<!----->
<div class="crop-img-modal-style">
<div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                
                    <div class="modal-dialog">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <div class="modal-content">
                     <div class="modal-header">
                       <h3>Uploaded Photo</h3>
                       <h4 class="modal-title" id="myModalLabel">
                        <?=multiLanguage( "Edit Foto" , "Edit Photo" )?></h4>
                     </div>
                     <div class="modal-body">
                        <div id="upload-demo" class="center-block"></div>
                  </div>
                      <div class="modal-footer">
                        <div class="row">
                        <div class="col-md-6">
        <button type="button" id="upload-btn" class="btn btn-default">Upload New Photo</button>
     </div>
      <div class="col-md-6">
        <button type="button" id="cropImageBtn" class="btn btn-primary">Save Photo</button>
     </div>
  </div>
      </div>
                      </div>
                    </div>
                  </div>

</div>
<script type="text/javascript">
   // Start upload preview image
$(".gambar").attr("src", "/assets/upload-img.jpg");
                  var $uploadCrop,
                  tempFilename,
                  rawImg,
                  imageId;
                  function readFile(input) {
                     if (input.files && input.files[0]) {
                          var reader = new FileReader();
                           reader.onload = function (e) {
                           $('.upload-demo').addClass('ready');
                           $('#cropImagePop').modal('show');
                              rawImg = e.target.result;
                           }
                           reader.readAsDataURL(input.files[0]);
                       }
                       else {
                          swal("Sorry - you're browser doesn't support the FileReader API");
                      }
                  }

                  $uploadCrop = $('#upload-demo').croppie({
                     viewport: {
                        width: 200,
                        height: 200,
                     },
                     enforceBoundary: false,
                     enableExif: true
                  });
                  $('#cropImagePop').on('shown.bs.modal', function(){
                     // alert('Shown pop');
                     $uploadCrop.croppie('bind', {
                        url: rawImg
                     }).then(function(){
                        console.log('jQuery bind complete');
                     });
                  });

                  $('.item-img').on('change', function () { imageId = $(this).data('id'); tempFilename = $(this).val();
                                                                               $('#cancelCropBtn').data('id', imageId); readFile(this); });
                  $('#cropImageBtn').on('click', function (ev) {
                     $uploadCrop.croppie('result', {
                        type: 'base64',
                        format: 'jpeg',
                        size: {width: 250, height: 250}
                     }).then(function (resp) {
                        $('#item-img-output').attr('src', resp);
                        $('#cropImagePop').modal('hide');
                     });
                  });
            // End upload preview image
</script>

<%= render 'form', group: @group %>
<%= link_to 'Back', groups_path %>