<div class="col-md-9">
<div class="row">
<%# <div class="col-md-4 col-md-4">
                <div class="user_list">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="text-center">
                            <img class="" src="/assets/1user-icon.png">
                        </div>
                        <div class="">
                             <div class="text-center">
                                <h2>User name</h2>
                                   <h3 class="user-pp">Member Since: 21.1.2019 </h3>
                                   </div>
                           <div class="flex-c">
                           <div class="">
                                <div class="flex-l">
                                <div class="">
                                <span class="box_bottom_icon"><i class="fa fa-heart" style="color:red"></i> <span class="user-font-list">0</span></span>
                                </div>
                                </div>
                           </div>  

                           <div class="m-l-10">
                           <div class="flex-l">
                                <div class="">
                                <span class="box_bottom_icon"><i class="fa fa-comment" style="color:#54b2b2"></i> <span class="user-font-list">0</span></span>
                                </div>
                                </div>
                           </div>  

                           </div>
                            
                        </div>
                    </div>
                </div>
</div>
</div> %>
<div class="flex-l m-b-30">
<h2 class="uherlist-h2">Everything Eyes Members</h2>
<div class="">
<a class="btn btn-primary new_userlist_btn" href="/blogs/new">385794</a>
</div>
</div>

                <div class="col-md-4">
                    <div class="user-list1">
                        <div class="text-center">
                            <img class="" src="/assets/1user-icon.png">
                        </div>
                        <div class="text-center">
                                <h2>User name</h2>
                                   <h3 class="user-pp">Member Since: 21.1.2019 </h3>
                                   </div>


<div class="flex-c">
                           <div class="">
                                <div class="flex-l">
                                <div class="">
                                <span class="box_bottom_icon"><i class="fa fa-heart" style="color:red"></i> <span class="user-font-list">0</span></span>
                                </div>
                                </div>
                           </div>  

                           <div class="m-l-10">
                           <div class="flex-l">
                                <div class="">
                                <span class="box_bottom_icon"><i class="fa fa-comment" style="color:#54b2b2"></i> <span class="user-font-list">0</span></span>
                                </div>
                                </div>
                           </div>  

                           </div>



                        </div>
                        </div >


<div class="col-md-4">
                    <div class="user-list1">
                        <div class="text-center">
                            <img class="" src="/assets/1user-icon.png">
                        </div>
                        <div class="text-center">
                                <h2>User name</h2>
                                   <h3 class="user-pp">Member Since: 21.1.2019 </h3>
                                   </div>

<div class="flex-c">
                           <div class="">
                                <div class="flex-l">
                                <div class="">
                                <span class="box_bottom_icon"><i class="fa fa-heart" style="color:red"></i> <span class="user-font-list">0</span></span>
                                </div>
                                </div>
                           </div>  

                           <div class="m-l-10">
                           <div class="flex-l">
                                <div class="">
                                <span class="box_bottom_icon"><i class="fa fa-comment" style="color:#54b2b2"></i> <span class="user-font-list">0</span></span>
                                </div>
                                </div>
                           </div>  

                           </div>



                        </div>
                        </div>
                        <div class="col-md-4">
                    <div class="user-list1">
                        <div class="text-center">
                            <img class="" src="/assets/1user-icon.png">
                        </div>
                        <div class="text-center">
                                <h2>User name</h2>
                                   <h3 class="user-pp">Member Since: 21.1.2019 </h3>
                                   </div>

<div class="flex-c">
                           <div class="">
                                <div class="flex-l">
                                <div class="">
                                <span class="box_bottom_icon"><i class="fa fa-heart" style="color:red"></i> <span class="user-font-list">0</span></span>
                                </div>
                                </div>
                           </div>  

                           <div class="m-l-10">
                           <div class="flex-l">
                                <div class="">
                                <span class="box_bottom_icon"><i class="fa fa-comment" style="color:#54b2b2"></i> <span class="user-font-list">0</span></span>
                                </div>
                                </div>
                           </div>  

                           </div>



                        </div>
                        </div>
                        <div class="col-md-4">
                    <div class="user-list1">
                        <div class="text-center">
                            <img class="" src="/assets/1user-icon.png">
                        </div>
                        <div class="text-center">
                                <h2>User name</h2>
                                   <h3 class="user-pp">Member Since: 21.1.2019 </h3>
                                   </div>

<div class="flex-c">
                           <div class="">
                                <div class="flex-l">
                                <div class="">
                                <span class="box_bottom_icon"><i class="fa fa-heart" style="color:red"></i> <span class="user-font-list">0</span></span>
                                </div>
                                </div>
                           </div>  

                           <div class="m-l-10">
                           <div class="flex-l">
                                <div class="">
                                <span class="box_bottom_icon"><i class="fa fa-comment" style="color:#54b2b2"></i> <span class="user-font-list">0</span></span>
                                </div>
                                </div>
                           </div>  

                           </div>



                        </div>
                        </div>

</div>

</div>


