<div class="account-header-style">
  <header class="header-holder">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dashboard">
            <img src="https://cdn.shopify.com/s/files/1/1197/6404/files/saint_lbeau_logo_2-01_192x.png?v=1544811147">
          </a>
        </div>

        <div class="collapse navbar-collapse shared-header-custom-style" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/blogs">BLOG</a></li>          <li>
              <% if current_user.is_admin? %>
                <a href="/users">BRAND AMBASSADOR</a>
              <% elsif current_user.is_buyer? %>
                <%= link_to "BRAND AMBASSADOR", "#", id: "become-ambassador", data: { url: update_user_role_path, role_id: ambassador.id } %>
              <% end %>
            </li>

            <li><%= link_to "Store", "https://saintlbeau.myshopify.com/", target: :blank %></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="dropdown">
                <button class="btn btn-primary btn-none dropdown-toggle" type="button" data-toggle="dropdown"><img style="width: 38px; height: 38px; border-radius: 50%;" src="<%= current_user.avatar.present? ? current_user.avatar.url(:thumb) : "/assets/user-img.png" %>">
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li class="active"><%= link_to('Logout', destroy_user_session_path, method: :delete, id: "logout-link") %></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
