<div class="row show-more-button">
  <div class="col-md-8">
    <% unless objects_collection.current_page == objects_collection.total_pages %>
    <div class="custom-showMore-btn pull-right">
      <%= link_to "javascript:void(0);", class: "btn btn-primary showMore-btn-style", id: "load-more", data: { url: url } do %>
      <i class="fa fa-plus"></i> <%= t('blogs.index.show_more_label') %>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="col-md-4">
    <a href="javascript:" id="custom-topPage-btn"> <i class="fa fa-angle-up"></i></a>
  </div>
</div>
