<div id="alert">

</div>
<section class="home-banner" style="background-image: url(<%= @page.image.url %>)">
  <div class="overlay"></div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <h1><%= @page.heading.html_safe %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2><%= @page.sub_heading.html_safe %></h2>
      </div>
    </div>
  </div>
</section>
