<div class="col-md-9">
  <div class="row" style="margin-top: 10px;">
    <DIV class="col-md-12">
      <div class="post-heading blog-redesign-style">
        <div class="col-md-4">
          <div class="heading-featured">
            <h1>Conversation</h1>
          </div>
        </div>


        <div class="col-md-2 ">

        </div>
        <div class="col-md-2 post-sorting m-0">
          <p>SORTING</p>
          <select name="sort_type" id="title-sort" class="sorting-fltr">
            <option value="">Choose Type</option>
            <option value="asc">A-Z</option>
            <option value="desc">Z-A</option>
          </select>
        </div>


        <div class="col-md-4 add_blog_btn pull-right">
          <a class="btn btn-primary new_blog_btn" href="/groups/new">+ Start New Conversation </a>
        </div>
      </div>
    </DIV>
  </div>
  <!-- end of upper head -->
  <div class="row">
    <div class="col-md-9">
      <div class="middle-row-grp">
        <div class="col-md-12">
          <div class="lib-panel">
            <div class="row box-shadow-conversation-profile-admin">
              <div class="flex-sb">
                <div class="flex-l">
                  <div class="">
                    <div class="flex-l">
                      <div class="">
                        <img class="" src="/assets/user-icon.png" width="100%">
                      </div>
                      <div class="m-l-10">
                        <p class="p-l">Admin</p>
                        <p class="p-b">Saint L beau</p>
                      </div>
                    </div>
                  </div>
                  <div class="m-l-10 mob-m-l-0">
                    <div class="flex-l">
                      <div class="">
                        <img class="" src="/assets/calender.png" width="100%">
                      </div>
                      <div class="m-l-10">
                        <p class="p-b m-t-8">Posted: 12.01.19</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="grp-edit-delete-icon ">
                  <a class="" href="#">
                  </a> <a data-url="" data-name="lorem ipsum" class=" delete-group-link" href="#">
                    <i class="fa fa-trash inneer 
                      font-awesome-edit-profile" aria-hidden="true"></i>
                  </a> </div>
              </div>
              <div class="join-grp-dscptn">
                <h2>Everything Eyes</h2>
                <div class="comment more">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Vestibulum laoreet, nunc eget laoreet sagittis,
                  quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                  <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                      Aliquam
                      mattis purus non mauris
                      blandit id luctus felis convallis.
                      Integer varius egestas vestibulum.
                      Nullam a dolor arcu, ac tempor elit. Donec.
                    </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></div>
                <!-- after border  -->
                <div class="jn-grp-img-show">
                  <img src="/assets/blog-img-2.jpg">
                </div>
              </div>
              <div class="flex-l pt-10 bbbb">
                <div class="">
                  <img class="" src="/assets/user-icon.png" width="100%">
                </div>
                <div class="m-l-10 ">
                  <p class="p-b m-p-0 text-left">Saint L beau</p>
                  <p class="p-l">Today at 11:30 am</p>
                </div>

                <div class="comment more text-left pl-40">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Vestibulum laoreet, nunc eget laoreet sagittis,
                  quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                  <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                        class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                          Aliquam mattis purus non mauris
                          blandit id luctus felis convallis.
                          Integer varius egestas vestibulum.
                          Nullam a dolor arcu, ac tempor elit. Donec.
                        </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a href=""
                      class="morelink">Show more</a></span></div>

              </div>



              <div class="flex-sb">
                <div class="flex-l  m-t-8">
                  <div class="">
                    <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                  </div>
                  <div class="m-l-10 m-t-12">
                    <p class="fs-12">0</p>
                  </div>
                  <div class="m-l-10">
                    <i class="fa fa-heart fs-20" style="color: red;"></i>
                  </div>
                  <div class="m-l-10 m-t-8">
                    <p class="fs-12 m-t-3">0</p>
                  </div>
                </div>
                <div class="m-t-8">
                  <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 2nd wrapper start -->
      <div class="col-md-12">
        <div class="lib-panel">
          <div class="row box-shadow-conversation-profile-admin">
            <div class="flex-sb">
              <div class="flex-l">
                <div class="">
                  <div class="flex-l">
                    <div class="">
                      <img class="" src="/assets/user-icon.png" width="100%">
                    </div>
                    <div class="m-l-10">
                      <p class="p-l">Admin</p>
                      <p class="p-b">Saint L beau</p>
                    </div>
                  </div>
                </div>
                <div class="m-l-10 mob-m-l-0">
                  <div class="flex-l">
                    <div class="">
                      <img class="" src="/assets/calender.png" width="100%">
                    </div>
                    <div class="m-l-10">
                      <p class="p-b m-t-8">Posted: 12.01.19</p>
                    </div>
                  </div>
                </div>
                <div class="m-l-10 mob-m-l-0">
                  <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                </div>
              </div>

              <div class="grp-edit-delete-icon ">
                <a class="" href="#">
                </a> <a data-url="" data-name="lorem ipsum" class=" delete-group-link" href="#">
                  <i class="fa fa-trash inneer 
                    font-awesome-edit-profile" aria-hidden="true"></i>
                </a> </div>
            </div>
            <div class="join-grp-dscptn">
              <h2>Everything Eyes</h2>
              <div class="comment more">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum laoreet, nunc eget laoreet sagittis,
                quam ligula sodales orci, congue imperdiet eros tort<span class="moreellipses">...&nbsp;</span><span
                  class="morecontent"><span>or ac lectus.
                    <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                        Aliquam
                        mattis purus non mauris
                        blandit id luctus felis convallis.
                        Integer varius egestas vestibulum.
                        Nullam a dolor arcu, ac tempor elit. Donec.
                      </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a href=""
                    class="morelink">Show more</a></span></div>
              <!-- after border  -->

            </div>
            <div class="flex-l pt-10 bbbb pos-rel">
              <div class="">
                <img class="" src="/assets/user-icon.png" width="100%">
              </div>
              <div class="m-l-10 ">
                <p class="p-b m-p-0 text-left">Saint L beau</p>
                <p class="p-l">Today at 11:30 am</p>
              </div>
              <div class="">
                <div class="grp-edit-delete-icon pos-ab-con-all ">
                  <a class="" href="#">
                  </a> <a data-url="" data-name="lorem ipsum" class=" delete-group-link" href="#">
                    <i class="fa fa-trash inneer 
                      font-awesome-edit-profile" aria-hidden="true"></i>
                  </a> </div>
              </div>
              <div class="comment more text-left pl-40">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum laoreet, nunc eget laoreet sagittis,
                quam ligula sodales orci, congue imperdiet eros tort<span class="moreellipses">...&nbsp;</span><span
                  class="morecontent"><span>or ac lectus.
                    <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                          class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                            Aliquam mattis purus non mauris
                            blandit id luctus felis convallis.
                            Integer varius egestas vestibulum.
                            Nullam a dolor arcu, ac tempor elit. Donec.
                          </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a
                        href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a href="" class="morelink">Show
                    more</a></span></div>

            </div>



            <div class="flex-sb">
              <div class="flex-l  m-t-8">
                <div class="">
                  <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                </div>
                <div class="m-l-10 m-t-12">
                  <p class="fs-12">0</p>
                </div>
                <div class="m-l-10">
                  <i class="fa fa-heart fs-20" style="color: red;"></i>
                </div>
                <div class="m-l-10 m-t-8">
                  <p class="fs-12 m-t-3">0</p>
                </div>
              </div>
              <div class="m-t-8">
                <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 3rd wrapper start -->
      <div class="middle-row-grp">
        <div class="col-md-12">
          <div class="lib-panel">
            <div class="row box-shadow-conversation-profile-admin">
              <div class="flex-sb">
                <div class="flex-l">
                  <div class="">
                    <div class="flex-l">
                      <div class="">
                        <img class="" src="/assets/user-icon.png" width="100%">
                      </div>
                      <div class="m-l-10">
                        <p class="p-l">Admin</p>
                        <p class="p-b">Saint L beau</p>
                      </div>
                    </div>
                  </div>
                  <div class="m-l-10 mob-m-l-0">
                    <div class="flex-l">
                      <div class="">
                        <img class="" src="/assets/calender.png" width="100%">
                      </div>
                      <div class="m-l-10">
                        <p class="p-b m-t-8">Posted: 12.01.19</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="grp-edit-delete-icon ">
                  <a class="" href="#">
                  </a> <a data-url="" data-name="lorem ipsum" class=" delete-group-link" href="#">
                    <i class="fa fa-trash inneer 
                      font-awesome-edit-profile" aria-hidden="true"></i>
                  </a> </div>
              </div>
              <div class="join-grp-dscptn">
                <h2>Everything Eyes</h2>
                <div class="comment more">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Vestibulum laoreet, nunc eget laoreet sagittis,
                  quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                  <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                      Aliquam
                      mattis purus non mauris
                      blandit id luctus felis convallis.
                      Integer varius egestas vestibulum.
                      Nullam a dolor arcu, ac tempor elit. Donec.
                    </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></div>
                <!-- after border  -->

              </div>

              <div class="flex-l pt-10 bbbb pos-rel">
                <div class="">
                  <img class="" src="/assets/user-icon.png" width="100%">
                </div>
                <div class="m-l-10 ">
                  <p class="p-b m-p-0 text-left">Saint L beau</p>
                  <p class="p-l">Today at 11:30 am</p>
                </div>
                <div class="">
                  <div class="grp-edit-delete-icon pos-ab-con-all ">
                    <a class="" href="#">
                    </a> <a data-url="" data-name="lorem ipsum" class=" delete-group-link" href="#">
                      <i class="fa fa-trash inneer 
                          font-awesome-edit-profile" aria-hidden="true"></i>
                    </a> </div>
                </div>
                <div class="comment more text-left pl-40">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Vestibulum laoreet, nunc eget laoreet sagittis,
                  quam ligula sodales orci, congue imperdiet eros tort<span class="moreellipses">...&nbsp;</span><span
                    class="morecontent"><span>or ac lectus.
                      <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> <span
                            class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                              Aliquam mattis purus non mauris
                              blandit id luctus felis convallis.
                              Integer varius egestas vestibulum.
                              Nullam a dolor arcu, ac tempor elit. Donec.
                            </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a
                          href="" class="morelink">Show more</a></span></span>&nbsp;&nbsp;<a href=""
                      class="morelink">Show
                      more</a></span></div>

                <div class="jn-grp-img-show-con-all text-left">
                  <img src="/assets/blog-img-2.jpg">
                </div>
              </div>


              <div class="flex-sb">
                <div class="flex-l  m-t-8">
                  <div class="">
                    <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                  </div>
                  <div class="m-l-10 m-t-12">
                    <p class="fs-12">0</p>
                  </div>
                  <div class="m-l-10">
                    <i class="fa fa-heart fs-20" style="color: red;"></i>
                  </div>
                  <div class="m-l-10 m-t-8">
                    <p class="fs-12 m-t-3">0</p>
                  </div>
                </div>
                <div class="m-t-8">
                  <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 4rd wrapper start -->

      <div class="middle-row-grp">
        <div class="col-md-12">
          <div class="lib-panel">
            <div class="row box-shadow-conversation-profile-admin">
              <div class="flex-sb">
                <div class="flex-l">
                  <div class="">
                    <div class="flex-l">
                      <div class="">
                        <img class="" src="/assets/user-icon.png" width="100%">
                      </div>
                      <div class="m-l-10">
                        <p class="p-l">Admin</p>
                        <p class="p-b">Saint L beau</p>
                      </div>
                    </div>
                  </div>
                  <div class="m-l-10 mob-m-l-0">
                    <div class="flex-l">
                      <div class="">
                        <img class="" src="/assets/calender.png" width="100%">
                      </div>
                      <div class="m-l-10">
                        <p class="p-b m-t-8">Posted: 12.01.19</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="grp-edit-delete-icon ">
                  <a class="" href="#">
                  </a> <a data-url="" data-name="lorem ipsum" class=" delete-group-link" href="#">
                    <i class="fa fa-trash inneer 
                      font-awesome-edit-profile" aria-hidden="true"></i>
                  </a> </div>
              </div>
              <div class="join-grp-dscptn">
                <h2>Everything Eyes</h2>
                <div class="comment more">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Vestibulum laoreet, nunc eget laoreet sagittis,
                  quam ligula sodales orci, congue imperdiet eros tortor ac lectus.

                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Vestibulum laoreet, nunc eget laoreet sagittis,
                  quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Vestibulum laoreet, nunc eget laoreet sagittis,
                  quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Vestibulum laoreet, nunc eget laoreet sagittis,
                  quam ligula sodales orci, congue imperdiet eros tortor ac lectus.
                  <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span> Duis eget nisl orci.
                      Aliquam
                      mattis purus non mauris
                      blandit id luctus felis convallis.
                      Integer varius egestas vestibulum.
                      Nullam a dolor arcu, ac tempor elit. Donec.
                    </span>&nbsp;&nbsp;<a href="" class="morelink">Show more</a></span></div>
                <!-- after border  -->

              </div>
              <div class="flex-sb">
                <div class="flex-l  m-t-8">
                  <div class="">
                    <i class="fa fa-comment fs-20" style="    color: #256664;"></i>
                  </div>
                  <div class="m-l-10 m-t-12">
                    <p class="fs-12">0</p>
                  </div>
                  <div class="m-l-10">
                    <i class="fa fa-heart fs-20" style="color: red;"></i>
                  </div>
                  <div class="m-l-10 m-t-8">
                    <p class="fs-12 m-t-3">0</p>
                  </div>
                </div>
                <div class="m-t-8">
                  <a class="btn btn-primary new_reply_btn" href="/blogs/new">New Reply </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="lib-panel">
        <div class="row ">
          <div class="p-tag">
            <div class="l">
              <div class="heading-featured">
                <h1>Conversation</h1>
              </div>
              <br>
              <div class="flex-l">
                <div class="m-tag">
                  <a class="btn btn-primary new_tag_btn" href="/blogs/new">Tag name</a>
                </div>
                <div class="m-tag">
                  <a class="btn btn-primary new_tag_btn" href="/blogs/new">Tag name is here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    // Configure/customize these variables.
    var showChar = 200;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Show more";
    var lesstext = "Show less";


    $('.more').each(function () {
      var content = $(this).html();

      if (content.length > showChar) {

        var c = content.substr(0, showChar);
        var h = content.substr(showChar, content.length - showChar);

        var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

        $(this).html(html);
      }

    });

    $(".morelink").click(function () {
      if ($(this).hasClass("less")) {
        $(this).removeClass("less");
        $(this).html(moretext);
      } else {
        $(this).addClass("less");
        $(this).html(lesstext);
      }
      $(this).parent().prev().toggle();
      $(this).prev().toggle();
      return false;
    });
  });
</script>