<div class="form-group">
  <%= label_tag t('orders.index.table_headers.district_label') %>
  <%= select_tag 'order[district]', options_for_select(@districts) , { include_blank: 'Select District', class: "form-control", id: "district-select" } %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#district-select').select2();
  })

  $('#district-select').change(function(){
    district_id = $('#district-select').val();
    $('#order_order_id').val();

    $.ajax({
      url: `/orders/wards?district_id=${district_id}&order_id=${order_id}`,
      type: 'get',
      contentType: 'json',
      error: function () {
        $('.loader').hide();
        alert('Error');
      }
    });
  });
</script>
