<div class="form-group">
  <%= label_tag t('orders.index.table_headers.ward_label')%>
  <%= select_tag 'order[ward]', options_for_select(@wards) , { include_blank: 'Select Ward', class: "form-control", id: "ward-select" } %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#ward-select').select2();
  })
</script>
