<div class="col-md-6" >
  <div class="nested-fields">
    <div class="" >
      <%= f.text_field :point, class: "from-control-sm", placeholder: "+10" %>
      <%= f.text_field :name, class: "form-control col-md-11", placeholder: "Enter text here" %>
     </div>
     <%= link_to link_to_remove_association "x", f, class: "remove_field" %>
  </div>
</div>
