<div class="col-md-9" id="add-permission">
  <div class="row">
    <div class="col-md-12">
      <h1 class="card-header"><i class="fa fa-universal-access"></i> Assign New Permissions</h1>
      <hr>
    </div>
  </div>

  <div class="row m-t-30">
    <div class="col-md-9">
      <div class="card-body">
        <div class="affiliate_table_responsive">
          <table id="" class="table permission-holder table-striped table" style="width:100%">
            <thead>
              <tr>
                <th>Choose Permissions</th>
                <th></th>
              </tr>
              <tr></tr>
            </thead>

            <tbody>
              <% Permission::CONTROLLER_NAMES.each do |action, controller| %>
                <% name = show_dashboard_related_name(controller, action) %>
                <% if true %>
                  <tr>
                    <td width="40%" class="text-right">
                      <%= check_box_tag controller, controller, already_permitted?(@permissions, controller, action), { class: "add-permissions", data: { controller: controller, action: action } } %>
                    </td>
                    <td width="60%"><%= name %></td>
                  </tr>
                <% end %>
              <% end %>

              <tr><td class="text-right"><%= link_to 'Change Permissions', 'javascript:void(0);', id: 'change_permissions', class: 'btn btn-primary disabled', data: { url: permissions_path(id: @user.id) } %></td>
                <td></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
