// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#products{
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
  .box-shadow-am{
     border:5px solid transparent
  }
}
#products{
  .box-shadow-am.selected{
   border:5px solid #ccc;
}
}

#products{
.box-shadow-am.sm-pd-am{
  margin-top: 10px;
} 
}

.product-box{
  min-height:204px;
  border:5px solid transparent;
img{
  height:200px;
}

}

.box-shadow-am.sm-pd-am{
  padding: 20px;
}
.box-shadow-am{
  box-shadow: 0px 2px 12px 3px rgba(221, 221, 221, 0.77);
  background: #fff;
  padding: 40px 40px;
  textarea{
    min-height: 405px;
    resize: none;
  }
  .product-detail{
    margin-top: 10px;
    font-size: 17px;
    height: 100px;
  }
  .product-review {
    i{
      color: orange;
      font-size: 24px;
    }
  }
  .product-price {
    h5{
      font-size: 25px;
      color: red;
    }
  }
  .product-offer{
    border-top: 1px solid #ccc;
    font-size: 18px;
    padding-top: 10px;
    margin-top: 10px;
  }
  h3{
    margin: 0 0 10px;
  }
}
.ambassador-dashboard{
  margin-bottom: 50px;
  .ambassdor-box{
    .dropzone{
      min-height: 200px;
      border: 2px solid rgba(221, 221, 221, 0.77);
      .dz-message{
        margin: 3.2em 0;
      }
    }
    background: #fff;
    box-shadow: 0px 2px 12px 3px rgba(221, 221, 221, 0.77);
    padding: 40px 40px;
    .image-upload{
      margin-top: 30px;
    }
    h2{
      margin: 0;
      i{
        margin-right: 15px;
      }
    }
  }
}
.u_right_holder li span span.best_in_place{
  min-width: 90px;
  width: auto;
  margin-right: 10px;
}
.u_right_holder li span span.best_in_place,
.u_right_holder li span.fa.fa-pencil-square-o{
  display: inline-block;
  vertical-align: top;
}


/*******/

.newBlog-style{
  box-shadow: unset !important;
  h2{
    i{
    border: 1px solid #444;
    color: #444;
    padding: 10px 17px;
    font-size: 18px;}
  }

  h2{
    i:hover{
    background-color: #444;
    color: #fff;}
  }


button{
  border-radius:unset;
  padding: 10px 20px;
  border-color:#323232;
}
button:hover{
  background-color:#323232;
  color:#fff;
  border-color:#323232;
}
button:focus{
  background-color:#323232;
  color:#fff;
   border-color:#323232;
}
button:active{
  background-color:#323232;
  color:#fff;
  border-color:#323232;
}
.product-heading{
  h2{
  color:#5f5f5f;}
}
.box-shadow-am{
  box-shadow: unset;
  border:1px solid #eee;
  margin-top:15px;
  min-height:152px;
}
.blog-imgUpload{
  border:none;
  box-shadow:none;
  input{
  margin:0% 30% auto;
  }
}
.assign-Heading{
  h4{
  margin: 14% 20% auto;}
  a{
  color:#717171;}
  }
.blogBox-style{
  .box-shadow-am{
  padding:0px;
  border: unset;
  
  input{
  border: unset;
  padding: 30px 10px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-size:20px;
  color: #000;}
  }
}
  .Newblog-category{
    .category-option{
    border-bottom:1px solid;
      select{
    border:unset;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
    appearance: none;
    background-image: url(/assets/select-arrow.png);
      }
    }

    .blog-postCategory{
    border-bottom:1px solid;
      select{
    border:unset;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
    appearance: none;
    background-image: url(/assets/select-arrow.png);
      }
    }  
  .popover{
  border-radius:unset;
  top: -70px!important;}
  button.close{
  padding: 0px 7px;
  }



  }

  .product-toolTips{
  .popover{
  border-radius:unset;
  top: 570px;
  left: 45px;
  width: 100%;}
  button.close{
  padding: 0px 7px;
  }
  }



}


.blog-submt-btn{
margin-top:40px;

  input.btn.btn-success{
  border-radius: unset;
    padding: 10px 20px;
    border-color: #323232;
    background-color: unset;
    color: #323232;
  }
  input.btn.btn-success:hover{
  background-color:#323232;
  color:#fff;
  border-color:#323232;
      }
    }

.dashboard-points {
  box-shadow: none;
  padding: 61px 0px;
  border-radius: 5px;
  border: 1px solid #eee;
  text-align: center;
  background: #fff;
  margin-bottom: 20px;
}

#coinEditModal .items .from-control-sm{
  top: 6px !important;
  left: 24px !important
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
