#froala-editor
  position: absolute
  top: 200px
  text-align: center
  left: 0
  right: 0
  font-size: 40px
  height: 100%

  h3
    font-size: 46px
    color: white

  #sub-heading
    color: white
    font-size: 27px

.m-image-frame
  border: 1px solid #eee
  padding: 30px
  margin: 0px 0
  text-align: center
  height: 80vh
  background-size: 100%
  background-repeat: no-repeat
  border-radius: 15px

.newBlog-style
  .m-image-frame
    border: 1px solid #eee
    padding: 30px
    margin: 0px 0
    text-align: center
    height: auto !important
    background-size: 100%
    background-repeat: no-repeat
