<div class="col-md-9">
  <h1 class="card-header">Editing Category</h1>

  <%= render 'form', category: @category %>
  <br/>
  <%= link_to 'Show', @category, class: 'btn btn-default' %> |
  <%= link_to 'Back', categories_path, class: 'btn btn-default' %>
</div>
