<div class="dashboard-holder">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/side_bar" %>
    </div>
    <div class="col-md-9">
      <p id="notice"><%= notice %></p>

      <h1 class="card-header">New Category</h1>

      <%= render 'form', category: @category %>
      <br/>
      <%= link_to 'Back', categories_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>