<div class="col-md-9">

  <h1 class="card-header"><%= t('categories.index.new_btn_label') %></h1>

  <%= render 'form', category: @category %>
  <br/>
  <%= link_to t(:back_label), categories_path, class: 'btn btn-default' %>
</div>
