<div class="col-md-9">
  <p>
    <strong><%= t('categories.name_label') %>:</strong>
    <%= @category.name %>
  </p>

  <%= link_to t(:edit_label), edit_category_path(@category), class: 'btn btn-default set-border-radius' %> |
  <%= link_to t(:back_label), categories_path, class: 'btn btn-default set-border-radius' %>
</div>
